<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.github.IOT.calendar">

    <!-- Required by Calendar Provider -->
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <!-- Required for weather sync -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="io.github.IOT.calendar.Main2Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.github.hidroh.calendar.EditActivity"
            android:windowSoftInputMode="adjustResize"></activity>

        <receiver android:name="com.github.hidroh.calendar.weather.WeatherSyncAlarmReceiver" />

        <service android:name="com.github.hidroh.calendar.weather.WeatherSyncService" />

        <activity
            android:name="com.github.hidroh.calendar.MainActivity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>